<div class="d-flex justify-center pb-8 pt-8">
    <img src="imgs/combined_surf_logo.png" alt="Floripa Surf Club - Agendamento" width="200"/>
</div>

<MudNavMenu>
    <MudNavLink Href="/" Match="NavLinkMatch.All">Inicio</MudNavLink>
    <MudNavLink Href="/agendamento">Agendamento</MudNavLink>
    <MudNavLink Href="/alugueis">Algueis</MudNavLink>
    <MudNavLink Href="/galeria">Galeria</MudNavLink>
    <MudNavLink Href="/vitrine">Vitrine</MudNavLink>
</MudNavMenu>
